<mat-toolbar style="background: rgb(64, 51, 184); color: white;"></mat-toolbar>
<mat-grid-list cols="1" rowHeight="2.15:1">
    <mat-grid-tile style="background: rgb(64, 51, 184);">
        <mat-list>
            <mat-list-item>
                <h1>Conte-nos o que você precisa</h1>
            </mat-list-item>
            <mat-list-item>Iremos analisar suas informações e nossos corretores irão indicar os melhores imóveis</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-form-field>
                    <mat-select placeholder="Tipo de negócio" [formControl]="tipo" required>
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                            {{ tipo.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipo.invalid">{{ getErrorTipoMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field class="select-cidades">
                    <mat-select placeholder="Cidade de preferência" [formControl]="cidade" required>
                        <mat-option *ngFor="let cidade of cidades" [value]="cidade.value">
                            {{ cidade.viewValue }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="cidade.invalid">{{ getErrorCidadeMessage() }}</mat-error>
                </mat-form-field>
            </mat-list-item>
            <br/>
            <mat-list-item>
                <mat-form-field class="input-descricao">
                    <textarea matInput placeholder="Descreva o que você está procurando" [formControl]="descricao" required></textarea>
                    <mat-error *ngIf="descricao.invalid">{{ getErrorDescricaoMessage() }}</mat-error>
                </mat-form-field>
            </mat-list-item>
            <br>
            <mat-list-item>
                <mat-form-field class="input-email">
                    <input matInput placeholder="Informe seu e-mail" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{ getErrorEmailMessage() }}</mat-error>
                </mat-form-field>
            </mat-list-item>
            <br>
            <mat-list-item>
                <button class="button" mat-stroked-button (click)="confirmar()">Confirmar</button>
                <button class="button" mat-stroked-button (click)="cancelar()">Cancelar</button>
            </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item>
                <h1>Ou</h1>
                <button class="button" mat-stroked-button (click)="search_realty()"><h1>Procure um imóvel</h1></button>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>
