<mat-toolbar style="background: rgb(143, 135, 255); color: white;">
    <button style="background: rgb(63, 53, 156); color: white;" mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="inicio()">Inicio</button>
        <button mat-menu-item (click)="search_realty()">Buscar Imóvel</button>
        <button mat-menu-item>Meus Imóveis</button>
        <button mat-menu-item (click)="cadastrarInteresse()">Cadastrar Interesse</button>
        <button mat-menu-item (click)="cadastrarImovel()">Cadastrar Imóvel</button>
    </mat-menu>
</mat-toolbar>
<mat-grid-list cols="1" rowHeight="2.15:1">
    <mat-grid-tile ng-scrollable="{scrollX:'none',scrollY:'left'}" class="">
        <mat-card class="container" flex style="overflow: scroll;">
            <div *ngFor="let imovel of imoveis; let i = index">
                <mat-card class='card'>
                    <h3>Imóvel {{ (i+1) }}</h3>
                    <mat-card-content>{{imovel.Descricao}}</mat-card-content>
                    <mat-card-footer>
                        <button mat-stroked-button color="accent" (click)="detalhesImovel(i)">+detalhes</button>
                        <button mat-stroked-button color="warn" (click)="apagarImovel(i)">apagar</button>
                    </mat-card-footer>
                </mat-card>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
