<h2 mat-dialog-title>Faça o login:</h2>
<mat-dialog-content>
    <mat-list style="width: 100%;">
        <mat-list-item class="input-login-email">
          <mat-form-field class="input-login-email">
              <textarea matInput placeholder="E-mail" [formControl]="email" required></textarea>
              <mat-error *ngIf="email.invalid">{{ getErrorEmailMessage() }}</mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item class="input-login-senha">
            <mat-form-field class="input-login-senha">
                <input matInput placeholder="Insira sua senha" [formControl]="senha" required [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="senha.invalid">{{ getErrorSenhaMessage() }}</mat-error>
            </mat-form-field>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogClose(-1)">Cancelar</button>
  <button mat-button (click)="efetuarLogin()" cdkFocusInitial>Login</button>
</mat-dialog-actions>

